<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <title>presents or bugs??? 🎁🪳</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript files -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <!-- this is the start of content -->

    <section id="jenn-state">😚</section>

    <section id="info">
      click your cursor to change to either a present or a roach. the more
      presents, the happier this app creator,
      <a href="https://jennschiffer.com">jenn</a>, is. the more roaches, the
      more distressed she is. 🎁🪳
    </section>
  </body>
</html>
