/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

#jenn-state {
  font-size: 10em;
  position: absolute;
  top: 175px;
  left: 50px;
}

span {
  font-size: 2em;
}

#info {
  font-size: 0.8em;
  border: 1px solid black;
  padding: 1em;
}
